main {
    max-width: 100px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    justify-content: center;
  }

  ul:last-child {
    margin-bottom: 100px;
  }
  li {
    list-style: none;
  }
  .searchForName {
    border-radius: 5px;
    height: 20px;
    width: 90px;
  }
  .charakterImage {
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
    height: 360px;
  }
  figcaption {
    font-size: 15px;
    text-align: center;
    color: black;
    padding-bottom: 10px;
  }
  figure {
    border-radius: 8px;
    padding: 5px 10px;
    background-color: lightgray;
    cursor: pointer;
  }
